/* css reset */


*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
/* static position */
header{
    position: fixed;
    background-color: #f63232;
    text-align: center;
    padding: 20px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color:white;
    padding: 6px 12px;
    border: 8px solid white;
    display: inline-block;
    border-radius: 30px;

}

/* relative- parent, absolute- child */
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    position: absolute;
    bottom: 40%;
    left: 0%;
    background-color:#feb614;
    color: white;
    padding: 20px;
}
.banner h2{
    font-size: 75px
}
.banner h2 span{
    font-size: 1.3em;
    

}
/* sticky position */
nav{
    background-color: #f4f4f4;
    position: sticky;
    padding: 20px;
    top: 104px;

}
nav ul{
    white-space: nowrap;
    margin: 0 auto;
    max-width: 1200px;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color:#f63232;
    font-size: 45px;
    
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}

