/* static position */

header{
    position: fixed;
    background-color: #f63232;
    text-align: center;
    padding: 20px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color:white;
    padding: 6px 12px;
    border: 8px solid white;
    display: inline-block;
    border-radius: 30px;

}

/* relative- parent, absolute- child */
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    position: absolute;
    bottom: 40%;
    left: 0%;
    background-color:#feb614;
    color: white;
    padding: 20px;
}
.banner h2{
    font-size: 75px
}
.banner h2 span{
    font-size: 1.3em;
    

}
